.blog{
    color: white;
    border: 2px white solid;
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.block{
    color: white;
    text-align: center;
    border-bottom: 3px white solid;
}
.all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}