<div class="block">
    <h1>Mi informacion</h1> 
    <p>me considero una persona que siempre trata de vencer sus dificultades,me gusta dedicar a todo lo que estoy realiznado
        me apasiona mucho el hecho de siempre poder aprender cosas nuevas y poder ayudar a los demas utilizando todo lo que he 
        aprendido
    </p>
</div>
<div class="all-content">
<div class="blog">
    <h2>informacion personal</h2>
    <ul>
        <li>nombre: edwin andres guzman echavarra</li>
        <li>documento de identidad: 1011591258</li>
        <li>fechaa de nacimiento:27/01/2006</li>
        <li>lugar de nacimiento: santa fe de antioquia</li>
        <li>direccion: cra_6 #13c-90</li>
        <li>ocupacio: estudiante</li>
      
    </ul>
</div>
<div class="blog">
    <h2>formacion academica</h2>
       <ul>
            <li>titulo : Bachiller academico</li>
            <li>institucion:I.E San luis gonzaga</li>
            <li>fecha de certificacion:1/12/2022</li>
        </ul>

</div>
<div class="blog">
    <h2>experiencia laboral </h2>
    <ul>
        <li>empresa:institucion educativa san luis gonzaga</li>
        <li>cargo:horas sociales</li>
        <li>jefe inmediato:flor edilma caro</li>
        <li>telefono:853 11 84</li>
        <li>periodo:120horas</li>
    </ul>
</div>
<div class="blog">
    <h2>idiomas</h2>
    <ul>
        <li>español - nativo</li>
        <li>ingles nivel-A1</li>
    </ul>
</div>
</div>